project/WebSite5/App_WebReferences/localhost2/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getTheaters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="place" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTheatersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTheatersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTheaterDistance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="origin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTheaterDistanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTheaterDistanceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTheatersSoapIn">
    <wsdl:part name="parameters" element="tns:getTheaters" />
  </wsdl:message>
  <wsdl:message name="getTheatersSoapOut">
    <wsdl:part name="parameters" element="tns:getTheatersResponse" />
  </wsdl:message>
  <wsdl:message name="getTheaterDistanceSoapIn">
    <wsdl:part name="parameters" element="tns:getTheaterDistance" />
  </wsdl:message>
  <wsdl:message name="getTheaterDistanceSoapOut">
    <wsdl:part name="parameters" element="tns:getTheaterDistanceResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="getTheaters">
      <wsdl:input message="tns:getTheatersSoapIn" />
      <wsdl:output message="tns:getTheatersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTheaterDistance">
      <wsdl:input message="tns:getTheaterDistanceSoapIn" />
      <wsdl:output message="tns:getTheaterDistanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTheaters">
      <soap:operation soapAction="http://tempuri.org/getTheaters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTheaterDistance">
      <soap:operation soapAction="http://tempuri.org/getTheaterDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTheaters">
      <soap12:operation soapAction="http://tempuri.org/getTheaters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTheaterDistance">
      <soap12:operation soapAction="http://tempuri.org/getTheaterDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/WebSite/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/WebSite/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>